<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breaking Bad Quotes</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Breaking Bad Quotes</h1>
        <%- include('partials/nav') %>
        <div id="searchBox">
            <button id="getQuoteBtn">Get New Quote</button>
        </div>
    </header>
    <div id="quotesContainer"></div>
    <footer>© Yelarys, Farida, Bekzhan, IT-2306</footer>
    <script src="/movie-quotes.js"></script>
</body>
</html>